<mat-card class="form-card">
    <h2>{{selectedPracticeLog ? "Update/View Log" : "Create Log"}}</h2>
    <form class="practice-log-form" [formGroup]="form">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Instrument</mat-label>
            <input matInput formControlName="instrument" 
                   placeholder="Ex. Guitar" data-cy="instrument">
        </mat-form-field>
    
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Key</mat-label>
            <input matInput formControlName="key" 
                   placeholder="Ex. C" data-cy="key">
        </mat-form-field>
    
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Tempo</mat-label>
            <input matInput formControlName="tempo" 
                   placeholder="Ex. 120 BPM" data-cy="tempo">
        </mat-form-field>
    
    
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" 
                   placeholder="Ex. Play the scale in ascending order" data-cy="action">
        </mat-form-field>
        <div class="button-group">

            <button mat-raised-button color="primary" (click)="emitAction()" data-cy="action">
                 {{actionButtonLabel}}
            </button>  
            &nbsp;
            <button  mat-raised-button color="warn" (click)="clear()">
                 Clear
            </button> 
        </div>
    
    </form>
</mat-card>
